@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


/* CABEÇALHO */

header{
    background-color: black;
    font-family: 'Passion One', cursive;
    font-size: clamp(1.4rem, 6vw, 4rem);
    font-variant: small-caps;
    color: white;
    padding: 50px;
    text-align: center;
}

header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12.5px;
}


/* CONTEÚDO */

section{
    font-family: 'Sriracha', cursive;
    font-size: clamp(1rem, 5vw, 2rem); 
    line-height: 2em ;
}

section > p{
    white-space: pre-line;
    margin: 12vh 20px;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background: black center center no-repeat fixed;
    background-size: cover;
    padding: 1px 0px;
    box-shadow: inset 0 0 15px 0px black;
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    margin:10vh 15px ;
}

#joaninha{
    background-image: url(imagens/background001.jpg);
}


#folhas{
    background-image: url(imagens/background002.jpg);
}


/* LINKS */

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}


/* RODAPÉ */

footer{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
    font-size: small;
}